/**
* Display utilities
*
* Naming convention gl-display-{property-value}
*/
@mixin gl-display-none {
  display: none;
}

@mixin gl-display-sm-none {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-none;
  }
}

@mixin gl-display-md-none {
  @media (min-width: $breakpoint-md) {
    @include gl-display-none;
  }
}

@mixin gl-display-lg-none {
  @media (min-width: $breakpoint-lg) {
    @include gl-display-none;
  }
}

@mixin gl-display-flex {
  display: flex;
}

@mixin gl-display-sm-flex {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-flex;
  }
}

@mixin gl-display-md-flex {
  @media (min-width: $breakpoint-md) {
    @include gl-display-flex;
  }
}

@mixin gl-display-inline-flex {
  display: inline-flex;
}

@mixin gl-display-lg-inline-flex {
  @media (min-width: $breakpoint-lg) {
    display: inline-flex;
  }
}

@mixin gl-display-block {
  display: block;
}

@mixin gl-display-sm-block {
  @media (min-width: $breakpoint-sm) {
    @include gl-display-block;
  }
}

@mixin gl-display-md-block {
  @media (min-width: $breakpoint-md) {
    @include gl-display-block;
  }
}

@mixin gl-display-inline {
  display: inline;
}

@mixin gl-display-inline-block {
  display: inline-block;
}

@mixin gl-display-lg-inline-block {
  @media (min-width: $breakpoint-lg) {
    display: inline-block;
  }
}

@mixin gl-display-table {
  display: table;
}

@mixin gl-display-table-row {
  display: table-row;
}

@mixin gl-display-table-cell {
  display: table-cell;
}

@mixin gl-display-grid {
  display: grid;
}
